<body>
  <div class="wrapper full-page-wrapper page-auth page-login text-center">
    <div class="inner-page">
      <div class="logo">
        <%= link_to image_tag("meal_types.png", size: "200x50"), root_path %>
      </div>
        <div class="login-box center-block">
          <div class="form-horizontal">
            <p class="title">Resend confirmation instructions</p>
            <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
              <div class="form-group">
                <div class="col-sm-12">
                  <div class="input-group">
                    <%= f.email_field :email, class: "form-control", autofocus: true, placeholder: "email" %>
                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                  </div>
                </div>
              </div>
              <%= button_tag(type: 'submit', class: "btn btn-custom-primary btn-lg btn-block btn-auth") do %>
                <i class="fa fa-arrow-circle-o-right"></i> Resend confirmation instructions
              <% end %>
            <% end %>
          <div class="links">
            <%= render "devise/shared/links" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>