<body>
  <div class="wrapper full-page-wrapper page-auth page-login text-center">
    <div class="inner-page">
      <div class="logo">
        <%= link_to image_tag("meal_types.png", size: "200x50"), root_path %>
      </div>
       <div class="header-error blue bottom-spacer">
        <%= devise_error_messages! %>
      </div>
        <div class="login-box center-block">
          <div class="form-horizontal">
            <p class="title"></p>
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <div class="form-group">
                <div class="col-sm-12">
                  <div class="input-group">
                    <%= f.email_field :email, class: "form-control", autofocus: true, placeholder: "email" %>
                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                  </div>
                </div>
              </div>
                <div class="form-group">
                  <div class="col-sm-12">
                    <div class="input-group">
                      <%= f.password_field :password, class:"form-control", autocomplete: "off", placeholder:"password ≥ 8 characters" %>
                      <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-12">
                    <div class="input-group">
                      <%= f.password_field :password_confirmation, class:"form-control", autocomplete: "off", placeholder:"confirm your password" %>
                      <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                    </div>
                  </div>
                </div>
                <!--<div class="form-group">
                  <div class="col-sm-12 center-form">
                    <div class="input-group center-form">
                      <div class="btn-group btn-group-justified">
                        <div class="btn-group">
                          <button type="button" class="btn btn-primary">Male</button>
                        </div>
                        <div class="btn-group">
                          <button type="button" class="btn btn-primary">Female</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-12">
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="fa fa-calendar"> Birth Day
                        </i>
                      </span>
                      <%# f.date_field :birth_date, class:"form-control" %>
                    </div>
                  </div>
                </div>-->
                <%= button_tag(type: 'submit', class: "btn btn-custom-primary btn-lg btn-block btn-auth") do %>
                <i class="fa fa-arrow-circle-o-right"></i> Sign Up
              <% end %>
            <% end %>
          <div class="links">
            <%= render "devise/shared/links" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>