<% provide(:title, 'Home') %>
<body>
	<div class="wrapper full-page-wrapper page-auth page-login">
		<div class= "container right spacer">
				<%= link_to "Help", help_path, class: "btn btn-lg blue lgr " %>
				<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-custom-primary btn-lg btn-auth" %>
				<%= link_to "Log In", new_user_session_path, class: "btn btn-custom-primary btn-lg btn-auth" %>
		</div>
		<div class= "text-center spacer">
			<div class= "title-logo">
				<%= link_to image_tag("counti_logo_150_dark.png", size: "255x85"), root_path %>
			</div>
			<div class= "spacer">
			</div>
    	<%=  link_to image_tag("meal_free.png", size: "250x250"), new_user_session_path %>
    	<div class= "spacer-2x">
			</div>
			<div class= "statement">
				A simpler way to count calories. 
			</div>	
			<div class= "spacer-3x">
			</div>
			<div>
				<%= link_to "Try It Now", new_user_registration_path, class: "btn btn-custom-primary btn-lg btn-auth bigger" %>
				<%# link_to "Login", new_user_session_path, class: "btn btn-custom-primary btn-lg btn-auth" %>
			</div>
		</div>
	</div>
</body>

<%# image_tag("counti_logo_150_dark.png", size: "510x170") %>