<% @week.each do |date| %>
  <h1> 
  	<%# cycle thru weekdays looking for today and yesterday for the sake of the label%>
  	<% if date.strftime('%Y-%m-%d') == @today %> Today
  	<% elsif date.strftime('%Y-%m-%d') == @yesterday %> Yesterday
  	<% else%> <%=date.strftime('%D')%> 
  	<% end %>
  </h1>
	  	<h2>
		  	<%= link_to "+", new_meal_path(value: date.strftime('%Y-%m-%d'))%>
		  	<%= hidden_field_tag @total_cal = total_calories(date - 1.day, date) %> 
		  	<%= number_with_delimiter(@total_cal, :delimiter => ",") %> 
		  	calories
		  		<% if @total_cal <= @current_goal.daily_calories %>
		  			<span class="green">
		  		<% else  %>
		  			<span class="red">
		  		<% end %>
		  				<%= how_much_left(@total_cal, @current_goal.daily_calories) %>
		  			</span>
		  	  
		  </h2>
		<div class="spacer"></div>
	  <%# cycle thru meal times (breakfast, lunch, dinner) for the sake of labeling and organizing the daily calories %>
	    <% @meal_times.each do |time| %>
		  	<h3> 
		  		<%= time.capitalize %> = <%= meal_time_calories(date - 1.day, date, time) %> 
		  	</h3> 

			  	<h4> 
			  	 		<%= link_to image_tag("meal_free.png", size: "50x50"), new_meal_path(value: date.strftime('%Y-%m-%d'), meal: time, type: "meal") %> 
			  	 		<%= link_to image_tag("drink_free2.png", size: "50x50"), new_meal_path(value: date.strftime('%Y-%m-%d'), meal: time, type: "drink") %>
			  	 		<%= link_to image_tag("apple_free.png", size: "50x50"), new_meal_path(value: date.strftime('%Y-%m-%d'), meal: time, type: "snack") %>
			  	 		<%= link_to image_tag("dessert_free.png", size: "50x50"), new_meal_path(value: date.strftime('%Y-%m-%d'), meal: time, type: "dessert") %>
			  	 		
			  	 		<div class="spacer"></div>
			  	 		
				  	<%# go thru meal type "meals" to show meal calores, then do "drinks", lastly "snacks" %> 		
						<% @meals_meals.each do |meal| %>
							<% if meal.day_of_meal.strftime('%Y-%m-%d') == date.strftime('%Y-%m-%d') && meal.meal_time == time %>
							  <%= link_to meal.meal_type.capitalize, edit_meal_path(meal) %> <%= meal.calories %> 
								  <span class="exponent">
								  	<%# link_to "", edit_meal_path(meal), class: "fa fa-pencil fa-rotate-180" %> 
							  		<%= link_to "", meal, method: :delete, class: "fa fa-times"  %>	
							  		<br>		  
							  	</span>
							<% end %>
						<% end %>

						<% @meals_drinks.each do |meal| %>
							<% if meal.day_of_meal.strftime('%Y-%m-%d') == date.strftime('%Y-%m-%d') && meal.meal_time == time %>
							  <%= link_to meal.meal_type.capitalize, meal %> <%= meal.calories %> 
							  	<span class="exponent">
								  	<%= link_to "", edit_meal_path(meal), class: "fa fa-pencil fa-rotate-180" %> 
							  		<%= link_to "", meal, method: :delete, class: "fa fa-times"  %>	
							  		<br>		  
							  	</span>		  
							<% end %>
						<% end %>

						<% @meals_snacks.each do |meal| %>
							<% if meal.day_of_meal.strftime('%Y-%m-%d') == date.strftime('%Y-%m-%d') && meal.meal_time == time %>
							  <%= link_to meal.meal_type.capitalize, meal %> <%= meal.calories %> 
							  	<span class="exponent">
								  	<%= link_to "", edit_meal_path(meal), class: "fa fa-pencil fa-rotate-180" %> 
							  		<%= link_to "", meal, method: :delete, class: "fa fa-times"  %>	
							  		<br>		  
							  	</span>	  
							<% end %>
						<% end %>

						<% @meals_desserts.each do |meal| %>
							<% if meal.day_of_meal.strftime('%Y-%m-%d') == date.strftime('%Y-%m-%d') && meal.meal_time == time %>
							  <%= link_to meal.meal_type.capitalize, meal %> <%= meal.calories %> 
							  	<span class="exponent">
								  	<%= link_to "", edit_meal_path(meal), class: "fa fa-pencil fa-rotate-180" %> 
							  		<%= link_to "", meal, method: :delete, class: "fa fa-times"  %>	
							  		<br>		  
							  	</span>		  
							<% end %>
						<% end %>
					</h4>		
			<% end %>
	<div class="spacer-3x"></div>
<% end %>




	<!--make partial of repeated code and call partial -->