<%= form_for @goal do |f| %>
	<h2> Enter Your Own Calorie Goal </h2>

		<%= f.label :goal_name, "Goal Name" %>
		<%= f.text_field :goal_name %><br />

		<%= f.label :custom_calories, "Your Calorie Goal"  %>
		<%= f.number_field :custom_calories %>

		<%= f.submit "Enter" %>

<% end %>
