<h2> Update Your Calorie Goal </h2> 

<%= form_for @goal do |f| %>
	
	<%= f.label :goal_name, "Goal Name" %>
	<%= f.text_field :goal_name %><br />

	<%= f.label :age %>
	<%= f.number_field :age %><br />

	<%= f.label :sex %>
	<% @sex.each do |name, result| %>
	<%= f.radio_button(:sex, result) %>  <%= name %>
	<% end %><br>

	<%= f.label :weight, "Current Weight" %>
	<%= f.number_field :weight %> lbs<br />


	<%= f.label :desired_weight, "Desired Weight" %>
	<%= f.number_field :desired_weight %><br />

	<%= f.label :height %>
	<%= f.number_field :height %> inches<br />

	<%= f.label :activity, "Activity Level" %> <%= link_to "More Info", more_info_path %><br>
	<% @activity.each do |name, result| %>
	<%= f.radio_button(:activity, result) %>  <%= name %>
	<% end %><br><br>
<%= f.submit "Update" %><br><br> 
	
or <br><br>
  <%= f.label :custom_calories, "Use A Custom Calorie Goal" %>
  <%= f.check_box :use_custom_goal %>
  <%= f.number_field :custom_calories %><br><br>

<%= f.submit "Update" %><br><br>

<%= f.label :comments %><br>
<%= f.text_area :comments, size: "50x5" %> 

<% end %>

