<%= form_for @user, url: updates_user_path(@user) do |f| %>
<h2> Calculate Your Calorie Goal 
	<% if !@goal.custom_calories.nil? %>
	<%= f.submit "Select" %>
	<% end %>
</h2> 

	<%= fields_for @goal do |u| %>
	<%= u.label :goal_name, "Goal Name" %>
	<%= u.text_field :goal_name %><br />

	<%= f.label :age %>
	<%= f.number_field :age %><br />

	<%= f.label :sex %>
	<%= f.select (:sex) do  %>
		<% [['Male', 'male'], ['Female', 'female']].each do |c| -%>
		    <%= content_tag(:option, c.first, value: c.last) %>
		<% end %> 
		<% end %><br>

	<%= f.label :weight, "Current Weight" %>
	<%= f.number_field :weight %> lbs<br />


	<%= u.label :desired_weight, "Desired Weight" %>
	<%= u.number_field :desired_weight %><br />

	<%= f.label :height %>
	<%= f.number_field :height %> inches<br />

	<%= f.label :activity, "Activity level" %> <%= link_to "More Info", more_info_path %><br>
	<% @activity.each do |name, result| %>
	<%= f.check_box(:activity, {:multiple => false}, result, nil) %>  <%= name %>
	<% end %><br><br>

	<%= f.submit "Enter" %>

<% end %>
<% end %>

<%= form_for @goal do |u| %>
	<h2> Enter Your Own Calorie Goal 
		<% if !@goal.custom_calories.nil? %>
		<%= u.submit "Select" %>
		<% end %> </h2>

		<%= u.label :goal_name, "Goal Name" %>
		<%= u.text_field :goal_name %><br />

		<%= u.label :custom_calories, "Your Calorie Goal"  %>
		<%= u.number_field :custom_calories %>

		<%= u.submit "Enter" %>

<% end %>
