<%= form_for @goal do |f| %>
<h2> Calculate Your Calorie Goal </h2> 

	<%= f.label :goal_name, "Goal Name" %>
	<%= f.text_field :goal_name %><br />

	<%= f.label :age %>
	<%= f.number_field :age %><br />

	<%= f.label :sex %>
	<%= f.select (:sex) do  %>
		<% [['Male', 'male'], ['Female', 'female']].each do |c| -%>
		    <%= content_tag(:option, c.first, value: c.last) %>
		<% end %> 
		<% end %><br>

	<%= f.label :weight, "Current Weight" %>
	<%= f.number_field :weight %> lbs<br />


	<%= f.label :desired_weight, "Desired Weight" %>
	<%= f.number_field :desired_weight %><br />

	<%= f.label :height %>
	<%= f.number_field :height %> inches<br />

	<%= f.label :activity, "Activity level" %> <%= link_to "More Info", more_info_path %><br>
	<% @activity.each do |name, result| %>
	<%= f.check_box(:activity, {:multiple => false}, result, nil) %>  <%= name %>
	<% end %><br><br>

	<%= f.submit "Enter" %>

<% end %><br>

<%= form_for @goal do |u| %>
	<h2> Enter Your Own Calorie Goal </h2>

		<%= u.label :goal_name, "Goal Name" %>
		<%= u.text_field :goal_name %><br />

		<%= u.label :custom_calories, "Your Calorie Goal"  %>
		<%= u.number_field :custom_calories %>

		<%= u.submit "Enter" %>

<% end %>

<%= link_to "Custom Calorie Goal", goals_custom_path(@goal) %>

